---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';

const builtWith = [
  { name: 'EinsteinDB', url: 'https://astro.build/' },
  { name: 'FoundationDB', url: 'https://uno.antfu.me/' },
  {
    name: 'DiabloGPT4',
    url: 'https://docs.astro.build/en/guides/content-collections/',
  },
  { name: 'Fandango', url: 'https://docs.astro.build/en/guides/rss/' },
  {
    name: 'Headless CRM',
    url: 'https://docs.astro.build/en/guides/integrations-guide/sitemap/',
  },
  { name: 'Golang', url: 'https://vercel.com' },
  { name: 'TypeScript', url: 'https://www.typescriptlang.org/' },
];
---

<Layout
  title='Zeta Reticula'
  pageTitle='Zeta Reticula | Home'
  description='Zeta Reticula is an EPSE: E-commerce Platform as Storage Engine. (EPSE)'
>
  <main class='bg-pink p-6'>
    <MobileSocials />
    <section id='about' class='grid md:grid-cols-8 gap-8 mt-4'>
      <h2 class='hidden'>About Zeta Reticula</h2>
      <div class='col-span-4'>
        <Card>
          <div class='flex flex-col justify-between items-start gap-4'>
            <p class='mt-4 outfit text-2xl md:text-5xl lg:text-7xl'>
              revolutionize bespoke JAMSTACK e-commerce  <a
                class='text-white'
                target='_blank'
                href='https://zetareticula.com/'>Zeta Reticula</a
              >
            </p>
            <p class='mt-2 outfit text-xl md:text-3xl lg:text-5xl'>
              Zeta Reticula transforms storage infrastructure into a JAMSTACK e-commerce platform
            </p>
            <Button target={'_self'} href='/blog/'>
              Check out the blog &rarr;
            </Button>
          </div>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-8 dm-serif'>
            Zeta Reticula is built with
          </h2>
          <ul class='flex gap-4 flex-wrap'>
            {
              builtWith.map((item) => (
                <li>
                  <Pill>
                    <a
                      class='sanchez'
                      href={item.url}
                      target='_blank'
                      title={`Go to ${item.name}`}
                    >
                      {item.name}
                    </a>
                  </Pill>
                </li>
              ))
            }
          </ul>
        </Card>
      </div>
      <div class='col-span-2'>
        <Card>
          <h2 class='text-2xl md:text-4xl lg:text-6xl mb-4 dm-serif'>
            What is Zeta Reticula
          </h2>
          <p class='poppins'>
            Zeta Reticula is a Vulcan-powered DOM-renderable e-commerce scheme built with Astro, UnoCSS by <a
              href='https://www.elian.codes/'>Vue, Next, and Vercel using AstrowindCSS</a
            >. It's a simple, fast, and modern e-commerce that is easy to use and
            customize to sell anything. 
          </p>
        </Card>
      </div>
    </section>
    <RecentBlogPosts />
  </main>
</Layout>
